# TMBD Data API
----

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import locale # to format currency as USD
from pandas.io.json import json_normalize
locale.setlocale( locale.LC_ALL, '' )

# Import API key
from api_keys import api_key

# Output File (CSV)
output_data_file = "tmbddata.csv"

In [4]:
## Generate Movies Database from TMBD API by looping though all pages
all_results = []
url = 'https://api.themoviedb.org/3/discover/movie/'
page = 1
while True:
    r = requests.get(url + '?api_key='+ api_key+'&language=en-US' + '&page='+str(page))
    movie_data = r.json()
    if r.status_code == 200:
        #all_results = r.json()['results']
        all_results.append(movie_data)
        page += 1
    else:
        break

In [17]:
#Clean Data
results_1 = []
for page in all_results:
    (page['results'])
    for result in all_results[0]['results']:
        results_1.append(result)

In [24]:
#Create dataframe

In [20]:
df = pd.DataFrame(results_1)

In [23]:
df.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,513.970,1749,False,/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg,419704,False,/p3TCqUDoVsrIm8fHK9KOTfWnDjZ.jpg,en,Ad Astra,"[12, 18, 9648, 878, 53]",Ad Astra,6.0,"The near future, a time when both hope and har...",2019-09-17
1,260.519,2223,False,/db32LaOibwEliAmSL2jjDF6oDdj.jpg,181812,False,/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg,en,Star Wars: The Rise of Skywalker,"[28, 12, 878]",Star Wars: The Rise of Skywalker,6.6,The surviving Resistance faces the First Order...,2019-12-18
2,219.430,7579,False,/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg,475557,False,/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg,en,Joker,"[80, 18, 53]",Joker,8.3,"During the 1980s, a failed stand-up comedian i...",2019-10-02
3,225.898,941,False,/jyw8VKYEiM1UDzPB7NsisUgBeJ8.jpg,512200,False,/zTxHf9iIOCqRbxvl8W5QYKrsMLq.jpg,en,Jumanji: The Next Level,"[28, 12, 35, 14]",Jumanji: The Next Level,6.7,As the gang return to Jumanji to rescue one of...,2019-12-04
4,209.218,1308,False,/vloNTScJ3w7jwNwtNGoG8DbTThv.jpg,420809,False,/skvI4rYFrKXS73BJxWGH54Omlvv.jpg,en,Maleficent: Mistress of Evil,"[12, 14, 10751]",Maleficent: Mistress of Evil,7.2,Maleficent and her goddaughter Aurora begin to...,2019-10-16

In [ ]:
#create CSV file of raw data from OpenWeather API and store in Results Directory

In [22]:
#Create directory to store results
script_dir = os.path.dirname("")
results_dir = os.path.join(script_dir, 'Results/')
if not os.path.isdir(results_dir):
    os.makedirs(results_dir)
df.to_csv(results_dir + output_data_file)