# TMBD Data API
----

In [52]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import locale # to format currency as USD
from pandas.io.json import json_normalize
locale.setlocale( locale.LC_ALL, '' )

# Import API key
from api_keys import api_key

# Output File (CSV)
output_data_file = "tmbddata_dev.csv"
movie_revenue_data = "tmbd_dev_movie_revenue.csv"

In [2]:
## Generate Movies Database from TMBD API by looping though all pages
all_results = []
url = 'https://api.themoviedb.org/3/discover/movie/'
page = 1
while True:
    r = requests.get(url + '?api_key='+ api_key+'&language=en-US' + '&page='+str(page))
    movie_data = r.json()
    if r.status_code == 200:
        #all_results = r.json()['results']
        all_results.append(movie_data)
        page += 1
    else:
        break

In [3]:
#Clean Data
results_1 = []
for page in all_results:
    (page['results'])
    for result in all_results[0]['results']:
        results_1.append(result)

In [4]:
#Create dataframe

In [5]:
df = pd.DataFrame(results_1)

In [6]:
df.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,519.703,1762,False,/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg,419704,False,/p3TCqUDoVsrIm8fHK9KOTfWnDjZ.jpg,en,Ad Astra,"[12, 18, 9648, 878, 53]",Ad Astra,6.0,"The near future, a time when both hope and har...",2019-09-17
1,260.519,2223,False,/db32LaOibwEliAmSL2jjDF6oDdj.jpg,181812,False,/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg,en,Star Wars: The Rise of Skywalker,"[28, 12, 878]",Star Wars: The Rise of Skywalker,6.6,The surviving Resistance faces the First Order...,2019-12-18
2,227.896,7618,False,/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg,475557,False,/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg,en,Joker,"[80, 18, 53]",Joker,8.3,"During the 1980s, a failed stand-up comedian i...",2019-10-02
3,207.727,964,False,/jyw8VKYEiM1UDzPB7NsisUgBeJ8.jpg,512200,False,/zTxHf9iIOCqRbxvl8W5QYKrsMLq.jpg,en,Jumanji: The Next Level,"[28, 12, 35, 14]",Jumanji: The Next Level,6.7,As the gang return to Jumanji to rescue one of...,2019-12-04
4,183.294,1326,False,/vloNTScJ3w7jwNwtNGoG8DbTThv.jpg,420809,False,/skvI4rYFrKXS73BJxWGH54Omlvv.jpg,en,Maleficent: Mistress of Evil,"[12, 14, 10751]",Maleficent: Mistress of Evil,7.2,Maleficent and her goddaughter Aurora begin to...,2019-10-16

In [7]:
#create CSV file of raw data from OpenWeather API and store in Results Directory

In [8]:
#Create directory to store results
script_dir = os.path.dirname("")
results_dir = os.path.join(script_dir, 'Results/')
if not os.path.isdir(results_dir):
    os.makedirs(results_dir)
df.to_csv(results_dir + output_data_file)

In [41]:
movie_ids = df['id'].tolist()

In [47]:
#single pull test
# #https://api.themoviedb.org/3/movie/{movie_id}?api_key=<<api_key>>&language=en-US
# movie_id = 419704
# url = 'https://api.themoviedb.org/3/movie/'
# r = requests.get(url + str(movie_id) + '?api_key='+ api_key+'&language=en-US' + '&sort_by=revenue.desc')
# r.json()

In [43]:
def get_movie_revenue(id, api_key):
    
    url = 'https://api.themoviedb.org/3/movie/'

    r = requests.get(url + str(id) + '?api_key='+ api_key+'&language=en-US' + '&sort_by=revenue.desc')
    
    if r.status_code == 200:
        return r.json()
    else:
        return None
    

movie_revenue = []

for id in movie_ids:
    result = get_movie_revenue(id, api_key)
    if result:
        movie_revenue.append(result)

In [50]:
# Create dataframe
movie_df = pd.DataFrame([{
    "title": d["title"],
    "revenue": d["revenue"],
    "budget": d["budget"],
} for d in movie_revenue])

In [51]:
movie_df.head()

                              title     revenue     budget
0                          Ad Astra   127175922   87500000
1  Star Wars: The Rise of Skywalker   936302411  250000000
2                             Joker  1060753468   55000000
3           Jumanji: The Next Level   615882314  125000000
4      Maleficent: Mistress of Evil   385990275   85000000

In [54]:
df.to_csv(results_dir + movie_revenue_data)