# TMBD Data API
----

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import locale # to format currency as USD
from pandas.io.json import json_normalize
locale.setlocale( locale.LC_ALL, '' )

# Import API key
from api_keys import api_key

# Output File (CSV)
output_data_file = "tmbddata_dev.csv"
movie_revenue_data = "tmbd_dev_movie_revenue.csv"

In [30]:
## Generate Movies Database from TMBD API by looping though all pages
all_results = []
url = 'https://api.themoviedb.org/3/discover/movie/'
page = 1
while True:
    r = requests.get(url + '?api_key='+ api_key+'&language=en-US' + '&page='+str(page))
    movie_data = r.json()
    if r.status_code == 200:
        all_results.append(movie_data)
        page += 1
    else:
        break

In [ ]:
#Create dataframe

In [85]:
movie_df = pd.io.json.json_normalize(all_results, record_path = 'results')
movie_df.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,469.061,1779,False,/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg,419704,False,/p3TCqUDoVsrIm8fHK9KOTfWnDjZ.jpg,en,Ad Astra,"[12, 18, 9648, 878, 53]",Ad Astra,6.0,"The near future, a time when both hope and har...",2019-09-17
1,250.037,2258,False,/db32LaOibwEliAmSL2jjDF6oDdj.jpg,181812,False,/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg,en,Star Wars: The Rise of Skywalker,"[28, 12, 878]",Star Wars: The Rise of Skywalker,6.6,The surviving Resistance faces the First Order...,2019-12-18
2,214.813,7650,False,/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg,475557,False,/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg,en,Joker,"[80, 18, 53]",Joker,8.3,"During the 1980s, a failed stand-up comedian i...",2019-10-02
3,214.738,978,False,/jyw8VKYEiM1UDzPB7NsisUgBeJ8.jpg,512200,False,/zTxHf9iIOCqRbxvl8W5QYKrsMLq.jpg,en,Jumanji: The Next Level,"[28, 12, 35, 14]",Jumanji: The Next Level,6.7,As the gang return to Jumanji to rescue one of...,2019-12-04
4,157.802,1345,False,/vloNTScJ3w7jwNwtNGoG8DbTThv.jpg,420809,False,/skvI4rYFrKXS73BJxWGH54Omlvv.jpg,en,Maleficent: Mistress of Evil,"[12, 14, 10751]",Maleficent: Mistress of Evil,7.2,Maleficent and her goddaughter Aurora begin to...,2019-10-16

In [7]:
#create CSV file of raw data from OpenWeather API and store in Results Directory

In [87]:
#Create directory to store results
script_dir = os.path.dirname("")
results_dir = os.path.join(script_dir, 'Results/')
if not os.path.isdir(results_dir):
    os.makedirs(results_dir)
df.to_csv(results_dir + output_data_file)

In [88]:
movie_ids = movie_df['id'].tolist()

In [89]:
print(movie_ids[:50])

[419704, 181812, 475557, 512200, 420809, 449924, 330457, 516700, 453405, 466272, 496243, 593402, 509967, 486589, 443791, 530915, 181808, 546554, 503919, 359724, 423204, 461130, 481084, 567609, 299536, 492188, 431693, 7451, 465086, 539892, 429617, 398978, 11, 384018, 331482, 522938, 551332, 578189, 474350, 420817, 920, 338967, 245891, 122917, 10020, 448119, 575094, 102651, 291805, 420818]

In [90]:
def get_movie_revenue(id, api_key):
    
    url = 'https://api.themoviedb.org/3/movie/'

    r = requests.get(url + str(id) + '?api_key='+ api_key+'&language=en-US' + '&sort_by=revenue.desc')
    
    if r.status_code == 200:
        return r.json()
    else:
        return None
    

movie_revenue = []

for id in movie_ids:
    result = get_movie_revenue(id, api_key)
    if result:
        movie_revenue.append(result)

print(movie_revenue[:30])

In [98]:
# Create dataframe
movie_revenue_df = pd.DataFrame([{
    "title": d["title"],
    "revenue": d["revenue"],
    "budget": d["budget"],
    "id":d["id"],
} for d in movie_revenue])

In [99]:
movie_revenue_df.head(50)

                                        title     revenue     budget      id
0                                    Ad Astra   127175922   87500000  419704
1            Star Wars: The Rise of Skywalker   936302411  250000000  181812
2                                       Joker  1060753468   55000000  475557
3                     Jumanji: The Next Level   615882314  125000000  512200
4                Maleficent: Mistress of Evil   385990275   85000000  420809
5                        Ip Man 4: The Finale           0   52000000  449924
6                                   Frozen II  1328396330   33000000  330457
7                                     Gundala           0          0  516700
8                                  Gemini Man   173469516  138000000  453405
9              Once Upon a Time… in Hollywood   372353736   95000000  466272
10                                   Parasite   120458084   11363000  496243
11                                  Tolo Tolo           0   20000000  593402
12                              6 Underground           0  150000000  509967
13             Red Shoes and the Seven Dwarfs     5362776          0  486589
14                                 Underwater           0   80000000  443791
15                                       1917           0  100000000  530915
16                   Star Wars: The Last Jedi  1332459537  200000000  181808
17                                 Knives Out   220874164   40000000  546554
18                             The Lighthouse    11873695          0  503919
19                             Ford v Ferrari    52437000   97600000  359724
20                           Angel Has Fallen   133365452   40000000  423204
21                                     Code 8           0          0  461130
22                          The Addams Family   197085807   40000000  481084
23                               Ready or Not    57384179    6000000  567609
24                     Avengers: Infinity War  2046239637  300000000  299536
25                             Marriage Story           0    8600000  492188
26                          Spies in Disguise           0          0  431693
27                                        xXx   277448382   70000000    7451
28                                 The Grudge           0          0  465086
29                                     Freaks      333593          0  539892
30                  Spider-Man: Far from Home  1131450163  160000000  429617
31                               The Irishman      607420  159000000  398978
32                                  Star Wars   775398007   11000000      11
33      Fast & Furious Presents: Hobbs & Shaw   760098996  200000000  384018
34                               Little Women           0          0  331482
35                          Rambo: Last Blood    87041796   50000000  522938
36                              The Two Popes           0          0  551332
37                             Black and Blue           0   12000000  578189
38                             It Chapter Two   472093228   79000000  474350
39                                    Aladdin  1047612394  183000000  420817
40                                       Cars   461983149  120000000     920
41                     Zombieland: Double Tap   121026085   42000000  338967
42                                  John Wick    88761661   20000000  245891
43  The Hobbit: The Battle of the Five Armies   956019788  250000000  122917
44                       Beauty and the Beast   377350553   25000000   10020
45                                   Dolittle           0  175000000  448119
46                                    Abigail     1940234    7000000  575094
47                                 Maleficent   758539785  180000000  102651
48                           Now You See Me 2   334901337   90000000  291805
49                              The Lion King  1656405082  260000000  420818

In [100]:
movie_revenue_df.to_csv(results_dir + movie_revenue_data)